release/checkouts.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/main.min.css">
    <link rel="icon" type="image/png" href="images/favicon.png">
    <link rel="apple-touch-icon" type="image/png" href="images/favicon-apple-touch.png">
    <title>Часы</title>
  </head>
  <body>
    <div id="page_wrapper"><!-- Header Section Start -->
<header class="nav-split-simple nav-on-top fixed-bg-white">
<div class="top-header sm-mx-none shadow-sm position-relative z-index-9">
<div class="container-fluid">
<div class="row">
<div class="col-lg-6">
<div class="top-profile left">
      <div class="social-block"><a class="social-block__item" href="#"><span class="icon-instagram"></span></a><a class="social-block__item" href="#"><span class="icon-vk-reproductor"></span></a><a class="social-block__item" href="#"><span class="icon-youtube"></span></a></div></div>
</div>
<div class="col-lg-6">
<div class="top-profile d-flex align-items-center justify-content-end">
<form action="#" class="mr-2">
<ul class="d-flex m-0">
<li>
<select name="language" class="form-control selectpicker">
<option>En</option>
<option>Ru</option>
</select>
</li>
</ul>
</form>
<ul class="d-flex justify-content-end align-items-center m-0">
<li class="mr-2">
<a href="#" class="log-user"><span class="icon-user"></span></a>
</li>
<li id="cart-desktop">
<a class="mini-cart btn-cart" href="#"><span class="icon-cart"></span><span class="mini-cart__count">0</span>
</a>
<div class="dropdown-menu-mini-cart pt-2">
<ul class="shopping-cart-items px-2">
      <li>
        <ul class="shopping-cart-items-hid"><li>
<div class="d-flex align-items-start">
<div class="item-thumb">
<a href="#" class="image">
<img class="w-100 img-fluid lazyload" data-src="images/slider-single.png" alt="Product Image">
</a>
</div>
<div class="item-detail">
<a href="#">Modern Single Sofa</a>
<div class="item-s">
<span>135 ₽</span>
</div>
          <form class="product-quantity pro-details-quality mb-3" action="" method="">
            <div class="cart-plus-minus">
              <input class="cart-plus-minus-box" type="number" name="qtybutton" value="1">
            </div>
          </form></div>
<a href="#" class="item-detail__delete"><span><b>+</b></span></a>
</div>
</li><li>
<div class="d-flex align-items-start">
<div class="item-thumb">
<a href="#" class="image">
<img class="w-100 img-fluid lazyload" data-src="images/slider-single.png" alt="Product Image">
</a>
</div>
<div class="item-detail">
<a href="#">Modern Single Sofa</a>
<div class="item-s">
<span>135 ₽</span>
</div>
          <form class="product-quantity pro-details-quality mb-3" action="" method="">
            <div class="cart-plus-minus">
              <input class="cart-plus-minus-box" type="number" name="qtybutton" value="1">
            </div>
          </form></div>
<a href="#" class="item-detail__delete"><span><b>+</b></span></a>
</div>
</li><li>
<div class="d-flex align-items-start">
<div class="item-thumb">
<a href="#" class="image">
<img class="w-100 img-fluid lazyload" data-src="images/slider-single.png" alt="Product Image">
</a>
</div>
<div class="item-detail">
<a href="#">Modern Single Sofa</a>
<div class="item-s">
<span>135 ₽</span>
</div>
          <form class="product-quantity pro-details-quality mb-3" action="" method="">
            <div class="cart-plus-minus">
              <input class="cart-plus-minus-box" type="number" name="qtybutton" value="1">
            </div>
          </form></div>
<a href="#" class="item-detail__delete"><span><b>+</b></span></a>
</div>
</li><li>
<div class="d-flex align-items-start">
<div class="item-thumb">
<a href="#" class="image">
<img class="w-100 img-fluid lazyload" data-src="images/slider-single.png" alt="Product Image">
</a>
</div>
<div class="item-detail">
<a href="#">Modern Single Sofa</a>
<div class="item-s">
<span>135 ₽</span>
</div>
          <form class="product-quantity pro-details-quality mb-3" action="" method="">
            <div class="cart-plus-minus">
              <input class="cart-plus-minus-box" type="number" name="qtybutton" value="1">
            </div>
          </form></div>
<a href="#" class="item-detail__delete"><span><b>+</b></span></a>
</div>
</li><li>
<div class="d-flex align-items-start">
<div class="item-thumb">
<a href="#" class="image">
<img class="w-100 img-fluid lazyload" data-src="images/slider-single.png" alt="Product Image">
</a>
</div>
<div class="item-detail">
<a href="#">Modern Single Sofa</a>
<div class="item-s">
<span>135 ₽</span>
</div>
          <form class="product-quantity pro-details-quality mb-3" action="" method="">
            <div class="cart-plus-minus">
              <input class="cart-plus-minus-box" type="number" name="qtybutton" value="1">
            </div>
          </form></div>
<a href="#" class="item-detail__delete"><span><b>+</b></span></a>
</div>
</li><li>
<div class="d-flex align-items-start">
<div class="item-thumb">
<a href="#" class="image">
<img class="w-100 img-fluid lazyload" data-src="images/slider-single.png" alt="Product Image">
</a>
</div>
<div class="item-detail">
<a href="#">Modern Single Sofa</a>
<div class="item-s">
<span>135 ₽</span>
</div>
          <form class="product-quantity pro-details-quality mb-3" action="" method="">
            <div class="cart-plus-minus">
              <input class="cart-plus-minus-box" type="number" name="qtybutton" value="1">
            </div>
          </form></div>
<a href="#" class="item-detail__delete"><span><b>+</b></span></a>
</div>
</li><li>
<div class="d-flex align-items-start">
<div class="item-thumb">
<a href="#" class="image">
<img class="w-100 img-fluid lazyload" data-src="images/slider-single.png" alt="Product Image">
</a>
</div>
<div class="item-detail">
<a href="#">Modern Single Sofa</a>
<div class="item-s">
<span>135 ₽</span>
</div>
          <form class="product-quantity pro-details-quality mb-3" action="" method="">
            <div class="cart-plus-minus">
              <input class="cart-plus-minus-box" type="number" name="qtybutton" value="1">
            </div>
          </form></div>
<a href="#" class="item-detail__delete"><span><b>+</b></span></a>
</div>
</li><li>
<div class="d-flex align-items-start">
<div class="item-thumb">
<a href="#" class="image">
<img class="w-100 img-fluid lazyload" data-src="images/slider-single.png" alt="Product Image">
</a>
</div>
<div class="item-detail">
<a href="#">Modern Single Sofa</a>
<div class="item-s">
<span>135 ₽</span>
</div>
          <form class="product-quantity pro-details-quality mb-3" action="" method="">
            <div class="cart-plus-minus">
              <input class="cart-plus-minus-box" type="number" name="qtybutton" value="1">
            </div>
          </form></div>
<a href="#" class="item-detail__delete"><span><b>+</b></span></a>
</div>
</li><li>
<div class="d-flex align-items-start">
<div class="item-thumb">
<a href="#" class="image">
<img class="w-100 img-fluid lazyload" data-src="images/slider-single.png" alt="Product Image">
</a>
</div>
<div class="item-detail">
<a href="#">Modern Single Sofa</a>
<div class="item-s">
<span>135 ₽</span>
</div>
          <form class="product-quantity pro-details-quality mb-3" action="" method="">
            <div class="cart-plus-minus">
              <input class="cart-plus-minus-box" type="number" name="qtybutton" value="1">
            </div>
          </form></div>
<a href="#" class="item-detail__delete"><span><b>+</b></span></a>
</div>
</li><li>
<div class="d-flex align-items-start">
<div class="item-thumb">
<a href="#" class="image">
<img class="w-100 img-fluid lazyload" data-src="images/slider-single.png" alt="Product Image">
</a>
</div>
<div class="item-detail">
<a href="#">Modern Single Sofa</a>
<div class="item-s">
<span>135 ₽</span>
</div>
          <form class="product-quantity pro-details-quality mb-3" action="" method="">
            <div class="cart-plus-minus">
              <input class="cart-plus-minus-box" type="number" name="qtybutton" value="1">
            </div>
          </form></div>
<a href="#" class="item-detail__delete"><span><b>+</b></span></a>
</div>
</li>
        </ul>
      </li><li class="pt-2">
      <hr><span class="item-summary font-size-16 d-flex justify-content-between px-3">Цена:<span><b> 270 ₽</b></span></span>
</li>
<li class="py-3 d-flex flex-column justify-content-center align-items-center">
<a class="btn mb-2" href="#">Корзина</a>
<a class="btn " href="#">Оформить</a>
</li>
</ul>
</div>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>
<div class="main-nav py-lg-4">
<div class="container">
<div class="row">
<div class="col">
<nav class="navbar navbar-expand-lg nav-line-active nav-dark nav-primary-hover">
<a class="navbar-brand order-2 m-0" href="#">
      <picture>
        <source srcset="images/logo-mobile.png" media="(max-width: 991px)"><img class="nav-logo lazyload" data-src="images/logo.png" alt="img logo">
      </picture></a>
<button class="navbar-toggler order-1" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
<span class="burger"></span>
</button>
      <div class="d-block d-lg-none order-3"><div class="top-profile d-flex align-items-center justify-content-end">
<form action="#" class="mr-2">
<ul class="d-flex m-0">
<li>
<select name="language" class="form-control selectpicker">
<option>En</option>
<option>Ru</option>
</select>
</li>
</ul>
</form>
<ul class="d-flex justify-content-end align-items-center m-0">
<li>
<a href="#" class="mini-cart top-quantity text-dark"><span class="icon-cart"></span><span class="mini-cart__count">0</span>
</a>
</li>
</ul>
</div>
      </div><div class="collapse navbar-collapse order-4" id="navbarSupportedContent">
      <ul class="navbar-nav w-100">
        <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#">Каталог</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Каталог 1</a></li>
            <li><a class="dropdown-item" href="#">Каталог 1</a></li>
            <li><a class="dropdown-item" href="#">Каталог 1</a></li>
          </ul>
          <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#">Бренд</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Бренд 1</a></li>
              <li><a class="dropdown-item" href="#">Бренд 1</a></li>
              <li><a class="dropdown-item" href="#">Бренд 1</a></li>
              <li><a class="dropdown-item" href="#">Бренд 1</a></li>
              <li><a class="dropdown-item" href="#">Бренд 1</a></li>
              <li><a class="dropdown-item" href="#">Бренд 1</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#">Магазин</a>
            <ul class="dropdown-menu">
              <li class="dropdown"><a class="dropdown-item dropdown-toggle" href="#">Магазин 1</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Магазин 2</a></li>
                  <li><a class="dropdown-item" href="#">Магазин 2</a></li>
                  <li><a class="dropdown-item" href="#">Магазин 2</a></li>
                  <li><a class="dropdown-item" href="#">Магазин 2</a></li>
                  <li><a class="dropdown-item" href="#">Магазин 2</a></li>
                  <li><a class="dropdown-item" href="#">Магазин 2</a></li>
                </ul>
              </li>
              <li class="dropdown"><a class="dropdown-item dropdown-toggle" href="#">Магазин 1</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Магазин 2</a></li>
                  <li><a class="dropdown-item" href="#">Магазин 2</a></li>
                  <li><a class="dropdown-item" href="#">Магазин 2</a></li>
                  <li><a class="dropdown-item" href="#">Магазин 2</a></li>
                  <li><a class="dropdown-item" href="#">Магазин 2</a></li>
                  <li><a class="dropdown-item" href="#">Магазин 2</a></li>
                </ul>
              </li>
              <li class="dropdown"><a class="dropdown-item dropdown-toggle" href="#">Магазин 1</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Магазин 2</a></li>
                  <li><a class="dropdown-item" href="#">Магазин 2</a></li>
                  <li><a class="dropdown-item" href="#">Магазин 2</a></li>
                  <li><a class="dropdown-item" href="#">Магазин 2</a></li>
                  <li><a class="dropdown-item" href="#">Магазин 2</a></li>
                  <li><a class="dropdown-item" href="#">Магазин 2</a></li>
                </ul>
              </li>
              <li class="dropdown"><a class="dropdown-item dropdown-toggle" href="#">Магазин 1</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Магазин 2</a></li>
                  <li><a class="dropdown-item" href="#">Магазин 2</a></li>
                  <li><a class="dropdown-item" href="#">Магазин 2</a></li>
                  <li><a class="dropdown-item" href="#">Магазин 2</a></li>
                  <li><a class="dropdown-item" href="#">Магазин 2</a></li>
                  <li><a class="dropdown-item" href="#">Магазин 2</a></li>
                </ul>
              </li>
              <li class="dropdown"><a class="dropdown-item dropdown-toggle" href="#">Магазин 1</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Магазин 2</a></li>
                  <li><a class="dropdown-item" href="#">Магазин 2</a></li>
                  <li><a class="dropdown-item" href="#">Магазин 2</a></li>
                  <li><a class="dropdown-item" href="#">Магазин 2</a></li>
                  <li><a class="dropdown-item" href="#">Магазин 2</a></li>
                  <li><a class="dropdown-item" href="#">Магазин 2</a></li>
                </ul>
              </li>
              <li class="dropdown"><a class="dropdown-item dropdown-toggle" href="#">Магазин 1</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Магазин 2</a></li>
                  <li><a class="dropdown-item" href="#">Магазин 2</a></li>
                  <li><a class="dropdown-item" href="#">Магазин 2</a></li>
                  <li><a class="dropdown-item" href="#">Магазин 2</a></li>
                  <li><a class="dropdown-item" href="#">Магазин 2</a></li>
                  <li><a class="dropdown-item" href="#">Магазин 2</a></li>
                </ul>
              </li>
            </ul>
          </li>
        </li>
        <li class="nav-item"><a class="nav-link" href="#">О нас</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Контакты</a></li>
        <li id="cart-scroll"></li>
      </ul></div>
</nav>
</div>
</div>
</div>
</div>
</header>
<!-- Header Section End -->
      <div id="page_wrapper__container">
        <div class="row no-gutters ">
          <div class="col-12 col-lg-7 order-2 order-1">
            <div class="checkouts-left px-3 pb-5 pb-lg-0 pr-lg-5 pl-lg-4 d-flex justify-content-end ">
              <div class="checkouts-wrapper pt-5 h-m-100vh">
                <h1 class="mb-2">Оформление заказа</h1><nav class="mb-4" aria-label="breadcrumb">
<ol class="breadcrumb">
<li class="breadcrumb-item"><a href="#">Корзина</a></li>
<li class="breadcrumb-item active" aria-current="page">Оформление заказа</li>
</ol>
</nav>
                <form action="" method="">
                  <div class="form-group mb-5">
                    <label class="d-block mb-3" for="exampleFormControlSelect1">E-mail</label>
                    <input class="form-control" type="email" id="exampleFormControlInput1" placeholder="name@example.com">
                  </div><span class="font-size-18 mb-3 d-block">Адрес</span>
                  <div class="form-row">
                    <div class="col">
                      <div class="form-group">
                        <input class="form-control" type="text" placeholder="Имя">
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-group">
                        <input class="form-control" type="text" placeholder="Фамилия">
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <input class="form-control" type="text" placeholder="Город">
                  </div>
                  <div class="form-group">
                    <input class="form-control" type="text" placeholder="Область">
                  </div>
                  <div class="form-group">
                    <input class="form-control" type="text" placeholder="Улица">
                  </div>
                  <div class="form-row">
                    <div class="col">
                      <div class="form-group">
                        <input class="form-control" type="text" placeholder="Дом">
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-group">
                        <input class="form-control" type="text" placeholder="Квартира">
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <input class="form-control" type="tel" placeholder="Телефон">
                  </div><div class="checkbox">
<label>
<input type="checkbox" value="" checked>
<span class="cr">
<svg class="cr-icon" xmlns="http://www.w3.org/2000/svg" width="10.3" height="8" viewBox="8.9 0.3 10.3 8" enable-background="new 8.9 0.3 10.3 8">
<path fill="#fff" d="M12.6 8.1l-3.7-3.8 1-1.1 2.7 2.7 5.5-5.4 1 1z"/>
</svg>
</span>Сохранить для следующего заказа</label>
</div>
                  <div class="d-flex justify-content-between align-items-center"><a class="d-flex align-items-center link-back" href="#"><span class="icon-ctrl icon-ctrl_left"></span><span>Вернуться в корзину</span></a>
                    <button class="btn btn-cart" type="submit">Оплатить</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-5 order-1 order-lg-2 pb-5 pb-lg-0">
            <div class="checkouts-right px-3 pr-lg-4  pl-lg-4 d-flex justify-content-start">
              <div class="checkouts-wrapper pt-5">
                <div class="checkouts-product mb-4">
                  <div class="row align-items-center">
                    <div class="col-4 col-lg-3">
                      <div class="preview"><img class="lazyload w-100" data-src="images/slider-single.png" alt="img"><span class="preview-count-hid">2</span></div>
                    </div>
                    <div class="col-4 col-lg-6"><span class="title"><b>Название товара</b></span></div>
                    <div class="col-4 col-lg-3"><span class="price d-flex flex-column p-0">
<span class="now font-size-16">8000.00 ₽</span>
</span>
                    </div>
                  </div>
                </div>
                <div class="checkouts-product">
                  <div class="row align-items-center">
                    <div class="col-4 col-lg-3">
                      <div class="preview"><img class="lazyload w-100" data-src="images/slider-single.png" alt="img"><span class="preview-count-hid">2</span></div>
                    </div>
                    <div class="col-4 col-lg-6"><span class="title"><b>Название товара</b></span></div>
                    <div class="col-4 col-lg-3"><span class="price d-flex flex-column p-0">
<span class="now font-size-16">8000.00 ₽</span>
</span>
                    </div>
                  </div>
                </div>
                <hr>
                <form class="d-flex align-items-center" action="" method="">
                  <div class="form-group form-group_320 m-0">
                    <input class="form-control m-0 w-100" type="text" placeholder="Код">
                  </div>
                  <button class="btn btn-cart ml-2">Применить</button>
                </form>
                <hr>
                <table class="w-100">
                  <tbody>
                    <tr>
                      <td class="font-size-16">Subtotal</td>
                      <td class="text-right font-size-16"><b>8000.00 ₽</b></td>
                    </tr>
                  </tbody>
                </table>
                <hr>
                <table class="w-100">
                  <tbody>
                    <tr>
                      <td class="font-size-16">Total</td>
                      <td class="text-right"><b>8000.00 ₽</b></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div><!-- Footer Section Start -->
<footer class="footer-page">
<div class="container">
      <div class="row">
        <div class="col-12 col-lg-3 pb-3 pb-lg-0 d-flex justify-content-center justify-content-lg-start"><a class="logo"><img class="lazyload img-fluid" data-src="images/logo.png" alt="img"></a></div>
        <div class="col-12 col-lg-3 pb-3 pb-lg-0 d-none d-lg-block"><span class="footer-title">Каталог</span>
          <ul class="footer-ul">
            <li><a href="#">Каталог 1</a></li>
            <li><a href="#">Каталог 1</a></li>
            <li><a href="#">Каталог 1</a></li>
            <li><a href="#">Каталог 1</a></li>
          </ul>
        </div>
        <div class="col-12 col-lg-2 pb-3 pb-lg-0 d-none d-lg-block"><span class="footer-title">Бренд</span>
          <ul class="footer-ul">
            <li><a href="#">Бренд 1</a></li>
            <li><a href="#">Бренд 1</a></li>
            <li><a href="#">Бренд 1</a></li>
            <li><a href="#">Бренд 1</a></li>
          </ul>
        </div>
        <div class="col-12 col-lg-2 pb-3 pb-lg-0 d-none d-lg-block"><span class="footer-title">Магазин</span>
          <ul class="footer-ul">
            <li><a href="#">Магазин 1</a></li>
            <li><a href="#">Магазин 1</a></li>
            <li><a href="#">Магазин 1</a></li>
            <li><a href="#">Магазин 1</a></li>
          </ul>
        </div>
        <div class="col-12 col-lg-2 pb-3 pb-lg-0"><span class="footer-title">Навигация</span>
          <ul class="footer-ul">
            <li><a href="#">Главная</a></li>
            <li><a href="#">О нас</a></li>
            <li><a href="#">Контакты</a></li>
          </ul>
        </div>
      </div>
      <div class="row justify-content-end">
        <div class="col-12 col-lg-2 ">
          <div class="social-block"><a class="social-block__item" href="#"><span class="icon-instagram"></span></a><a class="social-block__item" href="#"><span class="icon-vk-reproductor"></span></a><a class="social-block__item" href="#"><span class="icon-youtube"></span></a></div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-12 col-lg-6 d-flex justify-content-center justify-content-lg-start"><a class="copyright" href="#">© 2020 политика конфиденциальности</a></div>
        <div class="col-12 col-lg-6 d-flex justify-content-center justify-content-lg-end"><a class="copyright" href="#">deksis.ru | разработка и поддержка сайта</a></div>
      </div></div>
</footer>
<!-- Footer Section End --><a href="#" id="scroll">
<i class="fa fa-angle-up"></i>
</a>
    </div>
    <script src="js/main.min.js"></script>
  </body>
</html>

source/html/checkouts.pug
extends base.pug
block content
	div(class="row no-gutters ")
		div(class="col-12 col-lg-7 order-2 order-1")
			div(class="checkouts-left px-3 pb-5 pb-lg-0 pr-lg-5 pl-lg-4 d-flex justify-content-end ")
				div(class="checkouts-wrapper pt-5 h-m-100vh")
					h1(class="mb-2")
						| Оформление заказа
					<nav class="mb-4" aria-label="breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="#">Корзина</a></li>
							<li class="breadcrumb-item active" aria-current="page">Оформление заказа</li>
						</ol>
					</nav>
					form(action="" method="")
						div(class="form-group mb-5")
							label(for="exampleFormControlSelect1" class="d-block mb-3")
								| E-mail
							input(type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com")
						span(class="font-size-18 mb-3 d-block")
							| Адрес
						div(class="form-row")
							div(class="col")
								div(class="form-group")
									input(class="form-control" type="text" placeholder="Имя")
							div(class="col")
								div(class="form-group")
									input(class="form-control" type="text" placeholder="Фамилия")
						div(class="form-group")
							input(class="form-control" type="text" placeholder="Город")
						div(class="form-group")
							input(class="form-control" type="text" placeholder="Область")
						div(class="form-group")
							input(class="form-control" type="text" placeholder="Улица")
						div(class="form-row")
							div(class="col")
								div(class="form-group")
									input(class="form-control" type="text" placeholder="Дом")
							div(class="col")
								div(class="form-group")
									input(class="form-control" type="text" placeholder="Квартира")
						div(class="form-group")
							input(class="form-control" type="tel" placeholder="Телефон")
						<div class="checkbox">
							<label>
								<input type="checkbox" value="" checked>
								<span class="cr">
									<svg class="cr-icon" xmlns="http://www.w3.org/2000/svg" width="10.3" height="8" viewBox="8.9 0.3 10.3 8" enable-background="new 8.9 0.3 10.3 8">
										<path fill="#fff" d="M12.6 8.1l-3.7-3.8 1-1.1 2.7 2.7 5.5-5.4 1 1z"/>
									</svg>
								</span>
								| Сохранить для следующего заказа
							</label>
						</div>
						div(class="d-flex justify-content-between align-items-center")
							a(href="#" class="d-flex align-items-center link-back")
								span(class="icon-ctrl icon-ctrl_left")
								span
									| Вернуться в корзину
							button(type="submit" class="btn btn-cart")
								| Оплатить
		div(class="col-12 col-lg-5 order-1 order-lg-2 pb-5 pb-lg-0")
			div(class="checkouts-right px-3 pr-lg-4  pl-lg-4 d-flex justify-content-start")
				div(class="checkouts-wrapper pt-5")
					div(class="checkouts-product mb-4")
						div(class="row align-items-center")
							div(class="col-4 col-lg-3")
								div(class="preview")
									img(class="lazyload w-100" data-src="images/slider-single.png" alt="img")
									span(class="preview-count-hid")
										| 2
							div(class="col-4 col-lg-6")
								span(class="title")
									b
										| Название товара
							div(class="col-4 col-lg-3")
								<span class="price d-flex flex-column p-0">
									<span class="now font-size-16">8000.00 ₽</span>
								</span>
					div(class="checkouts-product")
						div(class="row align-items-center")
							div(class="col-4 col-lg-3")
								div(class="preview")
									img(class="lazyload w-100" data-src="images/slider-single.png" alt="img")
									span(class="preview-count-hid")
										| 2
							div(class="col-4 col-lg-6")
								span(class="title")
									b
										| Название товара
							div(class="col-4 col-lg-3")
								<span class="price d-flex flex-column p-0">
									<span class="now font-size-16">8000.00 ₽</span>
								</span>
					hr
					form(action="" method="" class="d-flex align-items-center")
						div(class="form-group form-group_320 m-0")
							input(class="form-control m-0 w-100" type="text" placeholder="Код")
						button(class="btn btn-cart ml-2")
							| Применить
					hr
					table(class="w-100")
						tbody
							tr
								td(class="font-size-16")
									| Subtotal
								td(class="text-right font-size-16")
									b
										| 8000.00 ₽
					hr
					table(class="w-100")
						tbody
							tr
								td(class="font-size-16")
									| Total
								td(class="text-right")
									b
										| 8000.00 ₽
