source/html/index.pug
extends base.pug
block content
	<!-- Slider HTML markup -->
	div(class="full-row p-0 overflow-hidden")
		div(id="slider-owl" class="owl-carousel owl-theme")
			div(class="item" style="background-image: url('images/slider1.png');")
			div(class="item" style="background-image: url('images/slider2.png');")
			div(class="item" style="background-image: url('images/slider1.png');")
	<!--Slider Section End-->
	div(class="brands-block py-4")
		div(class="container")
			div(class="row")
				div(class="col-6 col-lg-3 pb-3 pb-lg-0")
					img(class="mx-auto img-fluid lazyload"  data-src="images/brands1.png" alt="img")
				div(class="col-6 col-lg-3 pb-3 pb-lg-0")
					img(class="mx-auto img-fluid lazyload"  data-src="images/brands2.png" alt="img")
				div(class="col-6 col-lg-3 pb-3 pb-lg-0")
					img(class="mx-auto img-fluid lazyload"  data-src="images/brands3.png" alt="img")
				div(class="col-6 col-lg-3 pb-3 pb-lg-0")
					img(class="mx-auto img-fluid lazyload"  data-src="images/brands4.png" alt="img")
	div(class="mb-5")
		a(href="#" class="d-block")
			img(class="lazyload w-100" data-src="images/Movements_49377a98-fcf3-41bc-8cdf-02541efafcf9_1600x.png" alt="img")
	<!-- Fashion Design Section Start -->
	<div class="full-block-item mb-5">
		<div class="container-fluid">
			<div class="row no-gutters pb-3 pb-lg-0">
				<div class="col-lg-6">
					a(class="d-block" href="#")
						<img class="lazyload w-100" data-src="images/block-1024-1024.png" alt="img">
				</div>
				<div class="col-lg-6 d-flex align-items-center">
					<div class="wrapper">
						a(href="#" class="title mb-4")
							| PURELY MECHANICAL
						<p class="description mb-4">Auctor condimentum magna donec tellus rutrum curabitur imperdiet montes. Porttitor Sollicitudin scelerisque arcu elementum consectetuer commodo tempor ut. Class Pharetra molestie habitasse non augue risus non. Bibendum massa, ligula justo etiam, pretium luctus mollis.</p>
						<a href="#" class="btn">Booking Now</a>
					</div>
				</div>
			</div>
			<div class="row no-gutters pb-3 pb-lg-0">
				<div class="col-lg-6 order-1 order-lg-2">
					a(class="d-block" href="#")
						<img class="lazyload w-100" data-src="images/block-1024-1024-2.png" alt="img">
				</div>
				<div class="col-lg-6 d-flex align-items-center order-2 order-lg-1">
					<div class="wrapper">
						a(href="#" class="title mb-4")
							| PURELY MECHANICAL
						<p class="description mb-4">Auctor condimentum magna donec tellus rutrum curabitur imperdiet montes. Porttitor Sollicitudin scelerisque arcu elementum consectetuer commodo tempor ut. Class Pharetra molestie habitasse non augue risus non. Bibendum massa, ligula justo etiam, pretium luctus mollis.</p>
						<a href="#" class="btn">Booking Now</a>
					</div>
				</div>
			</div>
			<div class="row no-gutters pb-3 pb-lg-0">
				<div class="col-lg-6">
					a(class="d-block" href="#")
						<img class="lazyload w-100" data-src="images/block-1024-1024-3.png" alt="img">
				</div>
				<div class="col-lg-6 d-flex align-items-center">
					<div class="wrapper">
						a(href="#" class="title mb-4")
							| PURELY MECHANICAL
						<p class="description mb-4">Auctor condimentum magna donec tellus rutrum curabitur imperdiet montes. Porttitor Sollicitudin scelerisque arcu elementum consectetuer commodo tempor ut. Class Pharetra molestie habitasse non augue risus non. Bibendum massa, ligula justo etiam, pretium luctus mollis.</p>
						<a href="#" class="btn">Booking Now</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Fashion Design Section End -->
	div(class="mb-5")
		a(href="#" class="d-block")
			img(class="lazyload w-100" data-src="images/customize-your-watch_1600x.png" alt="img")
	div(class="container mb-5")
		div(class="row")
			div(class="col-12")
				h2(class="text-center mb-4")
					| Последние новости
				span(class="title-line")
			div(class="col-12 col-md-6 pb-3 pb-lg-0")
				div(class="last-news")
					a(href="#" class="d-block mb-3 preview")
						img(class="lazyload" data-src="images/last-news.png" alt="img")
					a(href="#" class="title")
						| Meccaniche Veneziane against Covid-19, our initiative for Bergamo Hospital
					span(class="time")
						| 2 мин. на чтение
			div(class="col-12 col-md-6")
				div(class="last-news")
					a(href="#" class="d-block mb-3 preview")
						img(class="lazyload" data-src="images/last-news.png" alt="img")
					a(href="#" class="title")
						| Meccaniche Veneziane against Covid-19, our initiative for Bergamo Hospital
					span(class="time")
						| 2 мин. на чтение
	

release/index.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/main.min.css">
    <link rel="icon" type="image/png" href="images/favicon.png">
    <link rel="apple-touch-icon" type="image/png" href="images/favicon-apple-touch.png">
    <title>Часы</title>
  </head>
  <body>
    <div id="page_wrapper"><!-- Header Section Start -->
<header class="nav-split-simple nav-on-top fixed-bg-white">
<div class="top-header sm-mx-none shadow-sm position-relative z-index-9">
<div class="container-fluid">
<div class="row">
<div class="col-lg-6">
<div class="top-profile left">
      <div class="social-block"><a class="social-block__item" href="#"><span class="icon-instagram"></span></a><a class="social-block__item" href="#"><span class="icon-vk-reproductor"></span></a><a class="social-block__item" href="#"><span class="icon-youtube"></span></a></div></div>
</div>
<div class="col-lg-6">
<div class="top-profile d-flex align-items-center justify-content-end">
<form action="#" class="mr-2">
<ul class="d-flex m-0">
<li>
<select name="language" class="form-control selectpicker">
<option>En</option>
<option>Ru</option>
</select>
</li>
</ul>
</form>
<ul class="d-flex justify-content-end align-items-center m-0">
<li class="mr-2">
<a href="#" class="log-user"><span class="icon-user"></span></a>
</li>
<li id="cart-desktop">
<a class="mini-cart btn-cart" href="#"><span class="icon-cart"></span><span class="mini-cart__count">0</span>
</a>
<div class="dropdown-menu-mini-cart pt-2">
<ul class="shopping-cart-items px-2">
      <li>
        <ul class="shopping-cart-items-hid"><li>
<div class="d-flex align-items-start">
<div class="item-thumb">
<a href="#" class="image">
<img class="w-100 img-fluid lazyload" data-src="images/slider-single.png" alt="Product Image">
</a>
</div>
<div class="item-detail">
<a href="#">Modern Single Sofa</a>
<div class="item-s">
<span>135 ₽</span>
</div>
          <form class="product-quantity pro-details-quality mb-3" action="" method="">
            <div class="cart-plus-minus">
              <input class="cart-plus-minus-box" type="number" name="qtybutton" value="1">
            </div>
          </form></div>
<a href="#" class="item-detail__delete"><span><b>+</b></span></a>
</div>
</li><li>
<div class="d-flex align-items-start">
<div class="item-thumb">
<a href="#" class="image">
<img class="w-100 img-fluid lazyload" data-src="images/slider-single.png" alt="Product Image">
</a>
</div>
<div class="item-detail">
<a href="#">Modern Single Sofa</a>
<div class="item-s">
<span>135 ₽</span>
</div>
          <form class="product-quantity pro-details-quality mb-3" action="" method="">
            <div class="cart-plus-minus">
              <input class="cart-plus-minus-box" type="number" name="qtybutton" value="1">
            </div>
          </form></div>
<a href="#" class="item-detail__delete"><span><b>+</b></span></a>
</div>
</li><li>
<div class="d-flex align-items-start">
<div class="item-thumb">
<a href="#" class="image">
<img class="w-100 img-fluid lazyload" data-src="images/slider-single.png" alt="Product Image">
</a>
</div>
<div class="item-detail">
<a href="#">Modern Single Sofa</a>
<div class="item-s">
<span>135 ₽</span>
</div>
          <form class="product-quantity pro-details-quality mb-3" action="" method="">
            <div class="cart-plus-minus">
              <input class="cart-plus-minus-box" type="number" name="qtybutton" value="1">
            </div>
          </form></div>
<a href="#" class="item-detail__delete"><span><b>+</b></span></a>
</div>
</li><li>
<div class="d-flex align-items-start">
<div class="item-thumb">
<a href="#" class="image">
<img class="w-100 img-fluid lazyload" data-src="images/slider-single.png" alt="Product Image">
</a>
</div>
<div class="item-detail">
<a href="#">Modern Single Sofa</a>
<div class="item-s">
<span>135 ₽</span>
</div>
          <form class="product-quantity pro-details-quality mb-3" action="" method="">
            <div class="cart-plus-minus">
              <input class="cart-plus-minus-box" type="number" name="qtybutton" value="1">
            </div>
          </form></div>
<a href="#" class="item-detail__delete"><span><b>+</b></span></a>
</div>
</li><li>
<div class="d-flex align-items-start">
<div class="item-thumb">
<a href="#" class="image">
<img class="w-100 img-fluid lazyload" data-src="images/slider-single.png" alt="Product Image">
</a>
</div>
<div class="item-detail">
<a href="#">Modern Single Sofa</a>
<div class="item-s">
<span>135 ₽</span>
</div>
          <form class="product-quantity pro-details-quality mb-3" action="" method="">
            <div class="cart-plus-minus">
              <input class="cart-plus-minus-box" type="number" name="qtybutton" value="1">
            </div>
          </form></div>
<a href="#" class="item-detail__delete"><span><b>+</b></span></a>
</div>
</li><li>
<div class="d-flex align-items-start">
<div class="item-thumb">
<a href="#" class="image">
<img class="w-100 img-fluid lazyload" data-src="images/slider-single.png" alt="Product Image">
</a>
</div>
<div class="item-detail">
<a href="#">Modern Single Sofa</a>
<div class="item-s">
<span>135 ₽</span>
</div>
          <form class="product-quantity pro-details-quality mb-3" action="" method="">
            <div class="cart-plus-minus">
              <input class="cart-plus-minus-box" type="number" name="qtybutton" value="1">
            </div>
          </form></div>
<a href="#" class="item-detail__delete"><span><b>+</b></span></a>
</div>
</li><li>
<div class="d-flex align-items-start">
<div class="item-thumb">
<a href="#" class="image">
<img class="w-100 img-fluid lazyload" data-src="images/slider-single.png" alt="Product Image">
</a>
</div>
<div class="item-detail">
<a href="#">Modern Single Sofa</a>
<div class="item-s">
<span>135 ₽</span>
</div>
          <form class="product-quantity pro-details-quality mb-3" action="" method="">
            <div class="cart-plus-minus">
              <input class="cart-plus-minus-box" type="number" name="qtybutton" value="1">
            </div>
          </form></div>
<a href="#" class="item-detail__delete"><span><b>+</b></span></a>
</div>
</li><li>
<div class="d-flex align-items-start">
<div class="item-thumb">
<a href="#" class="image">
<img class="w-100 img-fluid lazyload" data-src="images/slider-single.png" alt="Product Image">
</a>
</div>
<div class="item-detail">
<a href="#">Modern Single Sofa</a>
<div class="item-s">
<span>135 ₽</span>
</div>
          <form class="product-quantity pro-details-quality mb-3" action="" method="">
            <div class="cart-plus-minus">
              <input class="cart-plus-minus-box" type="number" name="qtybutton" value="1">
            </div>
          </form></div>
<a href="#" class="item-detail__delete"><span><b>+</b></span></a>
</div>
</li><li>
<div class="d-flex align-items-start">
<div class="item-thumb">
<a href="#" class="image">
<img class="w-100 img-fluid lazyload" data-src="images/slider-single.png" alt="Product Image">
</a>
</div>
<div class="item-detail">
<a href="#">Modern Single Sofa</a>
<div class="item-s">
<span>135 ₽</span>
</div>
          <form class="product-quantity pro-details-quality mb-3" action="" method="">
            <div class="cart-plus-minus">
              <input class="cart-plus-minus-box" type="number" name="qtybutton" value="1">
            </div>
          </form></div>
<a href="#" class="item-detail__delete"><span><b>+</b></span></a>
</div>
</li><li>
<div class="d-flex align-items-start">
<div class="item-thumb">
<a href="#" class="image">
<img class="w-100 img-fluid lazyload" data-src="images/slider-single.png" alt="Product Image">
</a>
</div>
<div class="item-detail">
<a href="#">Modern Single Sofa</a>
<div class="item-s">
<span>135 ₽</span>
</div>
          <form class="product-quantity pro-details-quality mb-3" action="" method="">
            <div class="cart-plus-minus">
              <input class="cart-plus-minus-box" type="number" name="qtybutton" value="1">
            </div>
          </form></div>
<a href="#" class="item-detail__delete"><span><b>+</b></span></a>
</div>
</li>
        </ul>
      </li><li class="pt-2">
      <hr><span class="item-summary font-size-16 d-flex justify-content-between px-3">Цена:<span><b> 270 ₽</b></span></span>
</li>
<li class="py-3 d-flex flex-column justify-content-center align-items-center">
<a class="btn mb-2" href="#">Корзина</a>
<a class="btn " href="#">Оформить</a>
</li>
</ul>
</div>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>
<div class="main-nav py-lg-4">
<div class="container">
<div class="row">
<div class="col">
<nav class="navbar navbar-expand-lg nav-line-active nav-dark nav-primary-hover">
<a class="navbar-brand order-2 m-0" href="#">
      <picture>
        <source srcset="images/logo-mobile.png" media="(max-width: 991px)"><img class="nav-logo lazyload" data-src="images/logo.png" alt="img logo">
      </picture></a>
<button class="navbar-toggler order-1" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
<span class="burger"></span>
</button>
      <div class="d-block d-lg-none order-3"><div class="top-profile d-flex align-items-center justify-content-end">
<form action="#" class="mr-2">
<ul class="d-flex m-0">
<li>
<select name="language" class="form-control selectpicker">
<option>En</option>
<option>Ru</option>
</select>
</li>
</ul>
</form>
<ul class="d-flex justify-content-end align-items-center m-0">
<li>
<a href="#" class="mini-cart top-quantity text-dark"><span class="icon-cart"></span><span class="mini-cart__count">0</span>
</a>
</li>
</ul>
</div>
      </div><div class="collapse navbar-collapse order-4" id="navbarSupportedContent">
      <ul class="navbar-nav w-100">
        <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#">Каталог</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Каталог 1</a></li>
            <li><a class="dropdown-item" href="#">Каталог 1</a></li>
            <li><a class="dropdown-item" href="#">Каталог 1</a></li>
          </ul>
          <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#">Бренд</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Бренд 1</a></li>
              <li><a class="dropdown-item" href="#">Бренд 1</a></li>
              <li><a class="dropdown-item" href="#">Бренд 1</a></li>
              <li><a class="dropdown-item" href="#">Бренд 1</a></li>
              <li><a class="dropdown-item" href="#">Бренд 1</a></li>
              <li><a class="dropdown-item" href="#">Бренд 1</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#">Магазин</a>
            <ul class="dropdown-menu">
              <li class="dropdown"><a class="dropdown-item dropdown-toggle" href="#">Магазин 1</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Магазин 2</a></li>
                  <li><a class="dropdown-item" href="#">Магазин 2</a></li>
                  <li><a class="dropdown-item" href="#">Магазин 2</a></li>
                  <li><a class="dropdown-item" href="#">Магазин 2</a></li>
                  <li><a class="dropdown-item" href="#">Магазин 2</a></li>
                  <li><a class="dropdown-item" href="#">Магазин 2</a></li>
                </ul>
              </li>
              <li class="dropdown"><a class="dropdown-item dropdown-toggle" href="#">Магазин 1</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Магазин 2</a></li>
                  <li><a class="dropdown-item" href="#">Магазин 2</a></li>
                  <li><a class="dropdown-item" href="#">Магазин 2</a></li>
                  <li><a class="dropdown-item" href="#">Магазин 2</a></li>
                  <li><a class="dropdown-item" href="#">Магазин 2</a></li>
                  <li><a class="dropdown-item" href="#">Магазин 2</a></li>
                </ul>
              </li>
              <li class="dropdown"><a class="dropdown-item dropdown-toggle" href="#">Магазин 1</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Магазин 2</a></li>
                  <li><a class="dropdown-item" href="#">Магазин 2</a></li>
                  <li><a class="dropdown-item" href="#">Магазин 2</a></li>
                  <li><a class="dropdown-item" href="#">Магазин 2</a></li>
                  <li><a class="dropdown-item" href="#">Магазин 2</a></li>
                  <li><a class="dropdown-item" href="#">Магазин 2</a></li>
                </ul>
              </li>
              <li class="dropdown"><a class="dropdown-item dropdown-toggle" href="#">Магазин 1</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Магазин 2</a></li>
                  <li><a class="dropdown-item" href="#">Магазин 2</a></li>
                  <li><a class="dropdown-item" href="#">Магазин 2</a></li>
                  <li><a class="dropdown-item" href="#">Магазин 2</a></li>
                  <li><a class="dropdown-item" href="#">Магазин 2</a></li>
                  <li><a class="dropdown-item" href="#">Магазин 2</a></li>
                </ul>
              </li>
              <li class="dropdown"><a class="dropdown-item dropdown-toggle" href="#">Магазин 1</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Магазин 2</a></li>
                  <li><a class="dropdown-item" href="#">Магазин 2</a></li>
                  <li><a class="dropdown-item" href="#">Магазин 2</a></li>
                  <li><a class="dropdown-item" href="#">Магазин 2</a></li>
                  <li><a class="dropdown-item" href="#">Магазин 2</a></li>
                  <li><a class="dropdown-item" href="#">Магазин 2</a></li>
                </ul>
              </li>
              <li class="dropdown"><a class="dropdown-item dropdown-toggle" href="#">Магазин 1</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Магазин 2</a></li>
                  <li><a class="dropdown-item" href="#">Магазин 2</a></li>
                  <li><a class="dropdown-item" href="#">Магазин 2</a></li>
                  <li><a class="dropdown-item" href="#">Магазин 2</a></li>
                  <li><a class="dropdown-item" href="#">Магазин 2</a></li>
                  <li><a class="dropdown-item" href="#">Магазин 2</a></li>
                </ul>
              </li>
            </ul>
          </li>
        </li>
        <li class="nav-item"><a class="nav-link" href="#">О нас</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Контакты</a></li>
        <li id="cart-scroll"></li>
      </ul></div>
</nav>
</div>
</div>
</div>
</div>
</header>
<!-- Header Section End -->
      <div id="page_wrapper__container"><!-- Slider HTML markup -->
        <div class="full-row p-0 overflow-hidden">
          <div class="owl-carousel owl-theme" id="slider-owl">
            <div class="item" style="background-image: url('images/slider1.png');"></div>
            <div class="item" style="background-image: url('images/slider2.png');"></div>
            <div class="item" style="background-image: url('images/slider1.png');"></div>
          </div>
        </div><!--Slider Section End-->
        <div class="brands-block py-4">
          <div class="container">
            <div class="row">
              <div class="col-6 col-lg-3 pb-3 pb-lg-0"><img class="mx-auto img-fluid lazyload" data-src="images/brands1.png" alt="img"></div>
              <div class="col-6 col-lg-3 pb-3 pb-lg-0"><img class="mx-auto img-fluid lazyload" data-src="images/brands2.png" alt="img"></div>
              <div class="col-6 col-lg-3 pb-3 pb-lg-0"><img class="mx-auto img-fluid lazyload" data-src="images/brands3.png" alt="img"></div>
              <div class="col-6 col-lg-3 pb-3 pb-lg-0"><img class="mx-auto img-fluid lazyload" data-src="images/brands4.png" alt="img"></div>
            </div>
          </div>
        </div>
        <div class="mb-5"><a class="d-block" href="#"><img class="lazyload w-100" data-src="images/Movements_49377a98-fcf3-41bc-8cdf-02541efafcf9_1600x.png" alt="img"></a></div><!-- Fashion Design Section Start -->
<div class="full-block-item mb-5">
<div class="container-fluid">
<div class="row no-gutters pb-3 pb-lg-0">
<div class="col-lg-6"><a class="d-block" href="#"><img class="lazyload w-100" data-src="images/block-1024-1024.png" alt="img"></a></div>
<div class="col-lg-6 d-flex align-items-center">
<div class="wrapper"><a class="title mb-4" href="#">PURELY MECHANICAL</a><p class="description mb-4">Auctor condimentum magna donec tellus rutrum curabitur imperdiet montes. Porttitor Sollicitudin scelerisque arcu elementum consectetuer commodo tempor ut. Class Pharetra molestie habitasse non augue risus non. Bibendum massa, ligula justo etiam, pretium luctus mollis.</p>
<a href="#" class="btn">Booking Now</a>
</div>
</div>
</div>
<div class="row no-gutters pb-3 pb-lg-0">
<div class="col-lg-6 order-1 order-lg-2"><a class="d-block" href="#"><img class="lazyload w-100" data-src="images/block-1024-1024-2.png" alt="img"></a></div>
<div class="col-lg-6 d-flex align-items-center order-2 order-lg-1">
<div class="wrapper"><a class="title mb-4" href="#">PURELY MECHANICAL</a><p class="description mb-4">Auctor condimentum magna donec tellus rutrum curabitur imperdiet montes. Porttitor Sollicitudin scelerisque arcu elementum consectetuer commodo tempor ut. Class Pharetra molestie habitasse non augue risus non. Bibendum massa, ligula justo etiam, pretium luctus mollis.</p>
<a href="#" class="btn">Booking Now</a>
</div>
</div>
</div>
<div class="row no-gutters pb-3 pb-lg-0">
<div class="col-lg-6"><a class="d-block" href="#"><img class="lazyload w-100" data-src="images/block-1024-1024-3.png" alt="img"></a></div>
<div class="col-lg-6 d-flex align-items-center">
<div class="wrapper"><a class="title mb-4" href="#">PURELY MECHANICAL</a><p class="description mb-4">Auctor condimentum magna donec tellus rutrum curabitur imperdiet montes. Porttitor Sollicitudin scelerisque arcu elementum consectetuer commodo tempor ut. Class Pharetra molestie habitasse non augue risus non. Bibendum massa, ligula justo etiam, pretium luctus mollis.</p>
<a href="#" class="btn">Booking Now</a>
</div>
</div>
</div>
</div>
</div>
<!-- Fashion Design Section End -->
        <div class="mb-5"><a class="d-block" href="#"><img class="lazyload w-100" data-src="images/customize-your-watch_1600x.png" alt="img"></a></div>
        <div class="container mb-5">
          <div class="row">
            <div class="col-12">
              <h2 class="text-center mb-4">Последние новости</h2><span class="title-line"></span>
            </div>
            <div class="col-12 col-md-6 pb-3 pb-lg-0">
              <div class="last-news"><a class="d-block mb-3 preview" href="#"><img class="lazyload" data-src="images/last-news.png" alt="img"></a><a class="title" href="#">Meccaniche Veneziane against Covid-19, our initiative for Bergamo Hospital</a><span class="time">2 мин. на чтение</span></div>
            </div>
            <div class="col-12 col-md-6">
              <div class="last-news"><a class="d-block mb-3 preview" href="#"><img class="lazyload" data-src="images/last-news.png" alt="img"></a><a class="title" href="#">Meccaniche Veneziane against Covid-19, our initiative for Bergamo Hospital</a><span class="time">2 мин. на чтение</span></div>
            </div>
          </div>
        </div>
      </div><!-- Footer Section Start -->
<footer class="footer-page">
<div class="container">
      <div class="row">
        <div class="col-12 col-lg-3 pb-3 pb-lg-0 d-flex justify-content-center justify-content-lg-start"><a class="logo"><img class="lazyload img-fluid" data-src="images/logo.png" alt="img"></a></div>
        <div class="col-12 col-lg-3 pb-3 pb-lg-0 d-none d-lg-block"><span class="footer-title">Каталог</span>
          <ul class="footer-ul">
            <li><a href="#">Каталог 1</a></li>
            <li><a href="#">Каталог 1</a></li>
            <li><a href="#">Каталог 1</a></li>
            <li><a href="#">Каталог 1</a></li>
          </ul>
        </div>
        <div class="col-12 col-lg-2 pb-3 pb-lg-0 d-none d-lg-block"><span class="footer-title">Бренд</span>
          <ul class="footer-ul">
            <li><a href="#">Бренд 1</a></li>
            <li><a href="#">Бренд 1</a></li>
            <li><a href="#">Бренд 1</a></li>
            <li><a href="#">Бренд 1</a></li>
          </ul>
        </div>
        <div class="col-12 col-lg-2 pb-3 pb-lg-0 d-none d-lg-block"><span class="footer-title">Магазин</span>
          <ul class="footer-ul">
            <li><a href="#">Магазин 1</a></li>
            <li><a href="#">Магазин 1</a></li>
            <li><a href="#">Магазин 1</a></li>
            <li><a href="#">Магазин 1</a></li>
          </ul>
        </div>
        <div class="col-12 col-lg-2 pb-3 pb-lg-0"><span class="footer-title">Навигация</span>
          <ul class="footer-ul">
            <li><a href="#">Главная</a></li>
            <li><a href="#">О нас</a></li>
            <li><a href="#">Контакты</a></li>
          </ul>
        </div>
      </div>
      <div class="row justify-content-end">
        <div class="col-12 col-lg-2 ">
          <div class="social-block"><a class="social-block__item" href="#"><span class="icon-instagram"></span></a><a class="social-block__item" href="#"><span class="icon-vk-reproductor"></span></a><a class="social-block__item" href="#"><span class="icon-youtube"></span></a></div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-12 col-lg-6 d-flex justify-content-center justify-content-lg-start"><a class="copyright" href="#">© 2020 политика конфиденциальности</a></div>
        <div class="col-12 col-lg-6 d-flex justify-content-center justify-content-lg-end"><a class="copyright" href="#">deksis.ru | разработка и поддержка сайта</a></div>
      </div></div>
</footer>
<!-- Footer Section End --><a href="#" id="scroll">
<i class="fa fa-angle-up"></i>
</a>
    </div>
    <script src="js/main.min.js"></script>
  </body>
</html>
