source/html/product.pug
extends base.pug
block content
	<div class="full-row product-single">
		<div class="container">
			<div class="row">
				div(class="col-12 col-lg-6")
					div(id="product-single-slider")
						div()
							img(class="" src="images/slider-single.png" alt="img")
						div()
							img(class="" src="images/slider-single.png" alt="img")
						div()
							img(class="" src="images/slider-single.png" alt="img")
						div()
							img(class="" src="images/slider-single.png" alt="img")
						div()
							img(class="" src="images/slider-single.png" alt="img")
					div(id="product-single-slider-nav")
						div()
							img(class="" src="images/slider-single-nav.png" alt="img")
						div()
							img(class="" src="images/slider-single-nav.png" alt="img")
						div()
							img(class="" src="images/slider-single-nav.png" alt="img")
						div()
							img(class="" src="images/slider-single-nav.png" alt="img")
						div()
							img(class="" src="images/slider-single-nav.png" alt="img")
				div(class="col-12 col-lg-6")
					h1(class="product_title")
						| Wireless S50 Headphones S50 with Bluetooth
					<hr>
					<span class="price d-flex flex-column">
						<span class="now">
							| 80.00 ₽
						</span>
						<span class="old">
							| 100.00 ₽
						</span>
					</span>
					button(class="btn btn__add-cart mb-4")
						| Добавить в корзину
					p
						| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					table(class="settings")
						tbody
							tr
								td
									| Характеритики 1
								td
									| Значение 1
							tr
								td
									| Характеритики 1
								td
									| Значение 1
							tr
								td
									| Характеритики 1
								td
									| Значение 1
			</div>
		</div>
	</div>
	div(class="mb-5")
		img(class="lazyload w-100" data-src="images/redentore-components_049bcbb0-df0f-4727-be44-a93129f8dab5_1400x.png" alt="img")
	<div class="full-block-item mb-5">
		<div class="container-fluid">
			<div class="row no-gutters pb-3 pb-lg-0">
				<div class="col-lg-6">
					<img class="lazyload w-100" data-src="images/ddd_2_800x.png" alt="img">
				</div>
				<div class="col-lg-6 d-flex align-items-center">
					<div class="wrapper">
						a(href="#" class="title mb-4")
							| Timeless Shapes
						<p class="description mb-4">The Redentore case is characterized by its classic shapes and above all by the double finish. The deep satin and the polish finishes are obtained through the use of special brushes by skilled <b>craftsmen</b> who finish each individual surface through a completely manual process. <b>Several handmade steps</b> are required to achieve a homogeneous result that passes the internal quality control process.</p>
					</div>
				</div>
			</div>
			<div class="row no-gutters pb-3 pb-lg-0">
				<div class="col-lg-6 order-1 order-lg-2">
					a(class="d-block" href="#")
						<img class="lazyload w-100" data-src="images/Tavola_da_disegno_1_copia_5_5000x.png" alt="img">
				</div>
				<div class="col-lg-6 d-flex align-items-center order-2 order-lg-1">
					<div class="wrapper">
						a(href="#" class="title mb-4")
							| Our Milanese Bracelet
						<p class="description mb-4">The Milanese mesh bracelet is the perfect <b>combination of Italian</b> style and metalworking art. Every single steel mesh is handcrafted, cut, folded and then assembled to create a solid yet elegant spiral. A perfect fit on the wrist<b> is guaranteed, in fact</b>, this bracelet is equipped with a sliding clasp which offers an extremely comfortable</p>
						<a href="#" class="btn">more</a>
					</div>
				</div>
			</div>
			<div class="row no-gutters pb-3 pb-lg-0">
				<div class="col-lg-6">
					a(class="d-block" href="#")
						<img class="lazyload w-100" data-src="images/Tavola_da_disegno_1_copia_2_fcbf06d2-b4e5-4ed5-a7f1-8ce8417d096d_800x.png" alt="img">
				</div>
				<div class="col-lg-6 d-flex align-items-center">
					<div class="wrapper">
						a(href="#" class="title mb-4")
							| PURELY MECHANICAL
						<p class="description mb-4">Auctor condimentum magna donec tellus rutrum curabitur imperdiet montes. Porttitor Sollicitudin scelerisque arcu elementum consectetuer commodo tempor ut. Class Pharetra molestie habitasse non augue risus non. Bibendum massa, ligula justo etiam, pretium luctus mollis.</p>
						<a href="#" class="btn">more</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	div(class="mb-5")
		img(class="lazyload w-100" data-src="images/Tavola_da_disegno_1_hbhb_1400x.png" alt="img")

release/product.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/main.min.css">
    <link rel="icon" type="image/png" href="images/favicon.png">
    <link rel="apple-touch-icon" type="image/png" href="images/favicon-apple-touch.png">
    <title>Часы</title>
  </head>
  <body>
    <div id="page_wrapper"><!-- Header Section Start -->
<header class="nav-split-simple nav-on-top fixed-bg-white">
<div class="top-header sm-mx-none shadow-sm position-relative z-index-9">
<div class="container-fluid">
<div class="row">
<div class="col-lg-6">
<div class="top-profile left">
      <div class="social-block"><a class="social-block__item" href="#"><span class="icon-instagram"></span></a><a class="social-block__item" href="#"><span class="icon-vk-reproductor"></span></a><a class="social-block__item" href="#"><span class="icon-youtube"></span></a></div></div>
</div>
<div class="col-lg-6">
<div class="top-profile d-flex align-items-center justify-content-end">
<form action="#" class="mr-2">
<ul class="d-flex m-0">
<li>
<select name="language" class="form-control selectpicker">
<option>En</option>
<option>Ru</option>
</select>
</li>
</ul>
</form>
<ul class="d-flex justify-content-end align-items-center m-0">
<li class="mr-2">
<a href="#" class="log-user"><span class="icon-user"></span></a>
</li>
<li id="cart-desktop">
<a class="mini-cart btn-cart" href="#"><span class="icon-cart"></span><span class="mini-cart__count">0</span>
</a>
<div class="dropdown-menu-mini-cart pt-2">
<ul class="shopping-cart-items px-2">
      <li>
        <ul class="shopping-cart-items-hid"><li>
<div class="d-flex align-items-start">
<div class="item-thumb">
<a href="#" class="image">
<img class="w-100 img-fluid lazyload" data-src="images/slider-single.png" alt="Product Image">
</a>
</div>
<div class="item-detail">
<a href="#">Modern Single Sofa</a>
<div class="item-s">
<span>135 ₽</span>
</div>
          <form class="product-quantity pro-details-quality mb-3" action="" method="">
            <div class="cart-plus-minus">
              <input class="cart-plus-minus-box" type="number" name="qtybutton" value="1">
            </div>
          </form></div>
<a href="#" class="item-detail__delete"><span><b>+</b></span></a>
</div>
</li><li>
<div class="d-flex align-items-start">
<div class="item-thumb">
<a href="#" class="image">
<img class="w-100 img-fluid lazyload" data-src="images/slider-single.png" alt="Product Image">
</a>
</div>
<div class="item-detail">
<a href="#">Modern Single Sofa</a>
<div class="item-s">
<span>135 ₽</span>
</div>
          <form class="product-quantity pro-details-quality mb-3" action="" method="">
            <div class="cart-plus-minus">
              <input class="cart-plus-minus-box" type="number" name="qtybutton" value="1">
            </div>
          </form></div>
<a href="#" class="item-detail__delete"><span><b>+</b></span></a>
</div>
</li><li>
<div class="d-flex align-items-start">
<div class="item-thumb">
<a href="#" class="image">
<img class="w-100 img-fluid lazyload" data-src="images/slider-single.png" alt="Product Image">
</a>
</div>
<div class="item-detail">
<a href="#">Modern Single Sofa</a>
<div class="item-s">
<span>135 ₽</span>
</div>
          <form class="product-quantity pro-details-quality mb-3" action="" method="">
            <div class="cart-plus-minus">
              <input class="cart-plus-minus-box" type="number" name="qtybutton" value="1">
            </div>
          </form></div>
<a href="#" class="item-detail__delete"><span><b>+</b></span></a>
</div>
</li><li>
<div class="d-flex align-items-start">
<div class="item-thumb">
<a href="#" class="image">
<img class="w-100 img-fluid lazyload" data-src="images/slider-single.png" alt="Product Image">
</a>
</div>
<div class="item-detail">
<a href="#">Modern Single Sofa</a>
<div class="item-s">
<span>135 ₽</span>
</div>
          <form class="product-quantity pro-details-quality mb-3" action="" method="">
            <div class="cart-plus-minus">
              <input class="cart-plus-minus-box" type="number" name="qtybutton" value="1">
            </div>
          </form></div>
<a href="#" class="item-detail__delete"><span><b>+</b></span></a>
</div>
</li><li>
<div class="d-flex align-items-start">
<div class="item-thumb">
<a href="#" class="image">
<img class="w-100 img-fluid lazyload" data-src="images/slider-single.png" alt="Product Image">
</a>
</div>
<div class="item-detail">
<a href="#">Modern Single Sofa</a>
<div class="item-s">
<span>135 ₽</span>
</div>
          <form class="product-quantity pro-details-quality mb-3" action="" method="">
            <div class="cart-plus-minus">
              <input class="cart-plus-minus-box" type="number" name="qtybutton" value="1">
            </div>
          </form></div>
<a href="#" class="item-detail__delete"><span><b>+</b></span></a>
</div>
</li><li>
<div class="d-flex align-items-start">
<div class="item-thumb">
<a href="#" class="image">
<img class="w-100 img-fluid lazyload" data-src="images/slider-single.png" alt="Product Image">
</a>
</div>
<div class="item-detail">
<a href="#">Modern Single Sofa</a>
<div class="item-s">
<span>135 ₽</span>
</div>
          <form class="product-quantity pro-details-quality mb-3" action="" method="">
            <div class="cart-plus-minus">
              <input class="cart-plus-minus-box" type="number" name="qtybutton" value="1">
            </div>
          </form></div>
<a href="#" class="item-detail__delete"><span><b>+</b></span></a>
</div>
</li><li>
<div class="d-flex align-items-start">
<div class="item-thumb">
<a href="#" class="image">
<img class="w-100 img-fluid lazyload" data-src="images/slider-single.png" alt="Product Image">
</a>
</div>
<div class="item-detail">
<a href="#">Modern Single Sofa</a>
<div class="item-s">
<span>135 ₽</span>
</div>
          <form class="product-quantity pro-details-quality mb-3" action="" method="">
            <div class="cart-plus-minus">
              <input class="cart-plus-minus-box" type="number" name="qtybutton" value="1">
            </div>
          </form></div>
<a href="#" class="item-detail__delete"><span><b>+</b></span></a>
</div>
</li><li>
<div class="d-flex align-items-start">
<div class="item-thumb">
<a href="#" class="image">
<img class="w-100 img-fluid lazyload" data-src="images/slider-single.png" alt="Product Image">
</a>
</div>
<div class="item-detail">
<a href="#">Modern Single Sofa</a>
<div class="item-s">
<span>135 ₽</span>
</div>
          <form class="product-quantity pro-details-quality mb-3" action="" method="">
            <div class="cart-plus-minus">
              <input class="cart-plus-minus-box" type="number" name="qtybutton" value="1">
            </div>
          </form></div>
<a href="#" class="item-detail__delete"><span><b>+</b></span></a>
</div>
</li><li>
<div class="d-flex align-items-start">
<div class="item-thumb">
<a href="#" class="image">
<img class="w-100 img-fluid lazyload" data-src="images/slider-single.png" alt="Product Image">
</a>
</div>
<div class="item-detail">
<a href="#">Modern Single Sofa</a>
<div class="item-s">
<span>135 ₽</span>
</div>
          <form class="product-quantity pro-details-quality mb-3" action="" method="">
            <div class="cart-plus-minus">
              <input class="cart-plus-minus-box" type="number" name="qtybutton" value="1">
            </div>
          </form></div>
<a href="#" class="item-detail__delete"><span><b>+</b></span></a>
</div>
</li><li>
<div class="d-flex align-items-start">
<div class="item-thumb">
<a href="#" class="image">
<img class="w-100 img-fluid lazyload" data-src="images/slider-single.png" alt="Product Image">
</a>
</div>
<div class="item-detail">
<a href="#">Modern Single Sofa</a>
<div class="item-s">
<span>135 ₽</span>
</div>
          <form class="product-quantity pro-details-quality mb-3" action="" method="">
            <div class="cart-plus-minus">
              <input class="cart-plus-minus-box" type="number" name="qtybutton" value="1">
            </div>
          </form></div>
<a href="#" class="item-detail__delete"><span><b>+</b></span></a>
</div>
</li>
        </ul>
      </li><li class="pt-2">
      <hr><span class="item-summary font-size-16 d-flex justify-content-between px-3">Цена:<span><b> 270 ₽</b></span></span>
</li>
<li class="py-3 d-flex flex-column justify-content-center align-items-center">
<a class="btn mb-2" href="#">Корзина</a>
<a class="btn " href="#">Оформить</a>
</li>
</ul>
</div>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>
<div class="main-nav py-lg-4">
<div class="container">
<div class="row">
<div class="col">
<nav class="navbar navbar-expand-lg nav-line-active nav-dark nav-primary-hover">
<a class="navbar-brand order-2 m-0" href="#">
      <picture>
        <source srcset="images/logo-mobile.png" media="(max-width: 991px)"><img class="nav-logo lazyload" data-src="images/logo.png" alt="img logo">
      </picture></a>
<button class="navbar-toggler order-1" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
<span class="burger"></span>
</button>
      <div class="d-block d-lg-none order-3"><div class="top-profile d-flex align-items-center justify-content-end">
<form action="#" class="mr-2">
<ul class="d-flex m-0">
<li>
<select name="language" class="form-control selectpicker">
<option>En</option>
<option>Ru</option>
</select>
</li>
</ul>
</form>
<ul class="d-flex justify-content-end align-items-center m-0">
<li>
<a href="#" class="mini-cart top-quantity text-dark"><span class="icon-cart"></span><span class="mini-cart__count">0</span>
</a>
</li>
</ul>
</div>
      </div><div class="collapse navbar-collapse order-4" id="navbarSupportedContent">
      <ul class="navbar-nav w-100">
        <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#">Каталог</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Каталог 1</a></li>
            <li><a class="dropdown-item" href="#">Каталог 1</a></li>
            <li><a class="dropdown-item" href="#">Каталог 1</a></li>
          </ul>
          <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#">Бренд</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Бренд 1</a></li>
              <li><a class="dropdown-item" href="#">Бренд 1</a></li>
              <li><a class="dropdown-item" href="#">Бренд 1</a></li>
              <li><a class="dropdown-item" href="#">Бренд 1</a></li>
              <li><a class="dropdown-item" href="#">Бренд 1</a></li>
              <li><a class="dropdown-item" href="#">Бренд 1</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#">Магазин</a>
            <ul class="dropdown-menu">
              <li class="dropdown"><a class="dropdown-item dropdown-toggle" href="#">Магазин 1</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Магазин 2</a></li>
                  <li><a class="dropdown-item" href="#">Магазин 2</a></li>
                  <li><a class="dropdown-item" href="#">Магазин 2</a></li>
                  <li><a class="dropdown-item" href="#">Магазин 2</a></li>
                  <li><a class="dropdown-item" href="#">Магазин 2</a></li>
                  <li><a class="dropdown-item" href="#">Магазин 2</a></li>
                </ul>
              </li>
              <li class="dropdown"><a class="dropdown-item dropdown-toggle" href="#">Магазин 1</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Магазин 2</a></li>
                  <li><a class="dropdown-item" href="#">Магазин 2</a></li>
                  <li><a class="dropdown-item" href="#">Магазин 2</a></li>
                  <li><a class="dropdown-item" href="#">Магазин 2</a></li>
                  <li><a class="dropdown-item" href="#">Магазин 2</a></li>
                  <li><a class="dropdown-item" href="#">Магазин 2</a></li>
                </ul>
              </li>
              <li class="dropdown"><a class="dropdown-item dropdown-toggle" href="#">Магазин 1</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Магазин 2</a></li>
                  <li><a class="dropdown-item" href="#">Магазин 2</a></li>
                  <li><a class="dropdown-item" href="#">Магазин 2</a></li>
                  <li><a class="dropdown-item" href="#">Магазин 2</a></li>
                  <li><a class="dropdown-item" href="#">Магазин 2</a></li>
                  <li><a class="dropdown-item" href="#">Магазин 2</a></li>
                </ul>
              </li>
              <li class="dropdown"><a class="dropdown-item dropdown-toggle" href="#">Магазин 1</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Магазин 2</a></li>
                  <li><a class="dropdown-item" href="#">Магазин 2</a></li>
                  <li><a class="dropdown-item" href="#">Магазин 2</a></li>
                  <li><a class="dropdown-item" href="#">Магазин 2</a></li>
                  <li><a class="dropdown-item" href="#">Магазин 2</a></li>
                  <li><a class="dropdown-item" href="#">Магазин 2</a></li>
                </ul>
              </li>
              <li class="dropdown"><a class="dropdown-item dropdown-toggle" href="#">Магазин 1</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Магазин 2</a></li>
                  <li><a class="dropdown-item" href="#">Магазин 2</a></li>
                  <li><a class="dropdown-item" href="#">Магазин 2</a></li>
                  <li><a class="dropdown-item" href="#">Магазин 2</a></li>
                  <li><a class="dropdown-item" href="#">Магазин 2</a></li>
                  <li><a class="dropdown-item" href="#">Магазин 2</a></li>
                </ul>
              </li>
              <li class="dropdown"><a class="dropdown-item dropdown-toggle" href="#">Магазин 1</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Магазин 2</a></li>
                  <li><a class="dropdown-item" href="#">Магазин 2</a></li>
                  <li><a class="dropdown-item" href="#">Магазин 2</a></li>
                  <li><a class="dropdown-item" href="#">Магазин 2</a></li>
                  <li><a class="dropdown-item" href="#">Магазин 2</a></li>
                  <li><a class="dropdown-item" href="#">Магазин 2</a></li>
                </ul>
              </li>
            </ul>
          </li>
        </li>
        <li class="nav-item"><a class="nav-link" href="#">О нас</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Контакты</a></li>
        <li id="cart-scroll"></li>
      </ul></div>
</nav>
</div>
</div>
</div>
</div>
</header>
<!-- Header Section End -->
      <div id="page_wrapper__container"><div class="full-row product-single">
<div class="container">
<div class="row">
        <div class="col-12 col-lg-6">
          <div id="product-single-slider">
            <div><img src="images/slider-single.png" alt="img"></div>
            <div><img src="images/slider-single.png" alt="img"></div>
            <div><img src="images/slider-single.png" alt="img"></div>
            <div><img src="images/slider-single.png" alt="img"></div>
            <div><img src="images/slider-single.png" alt="img"></div>
          </div>
          <div id="product-single-slider-nav">
            <div><img src="images/slider-single-nav.png" alt="img"></div>
            <div><img src="images/slider-single-nav.png" alt="img"></div>
            <div><img src="images/slider-single-nav.png" alt="img"></div>
            <div><img src="images/slider-single-nav.png" alt="img"></div>
            <div><img src="images/slider-single-nav.png" alt="img"></div>
          </div>
        </div>
        <div class="col-12 col-lg-6">
          <h1 class="product_title">Wireless S50 Headphones S50 with Bluetooth</h1><hr>
<span class="price d-flex flex-column">
<span class="now">80.00 ₽</span>
<span class="old">100.00 ₽</span>
</span>
          <button class="btn btn__add-cart mb-4">Добавить в корзину</button>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <table class="settings">
            <tbody>
              <tr>
                <td>Характеритики 1</td>
                <td>Значение 1</td>
              </tr>
              <tr>
                <td>Характеритики 1</td>
                <td>Значение 1</td>
              </tr>
              <tr>
                <td>Характеритики 1</td>
                <td>Значение 1</td>
              </tr>
            </tbody>
          </table>
        </div></div>
</div>
</div>
        <div class="mb-5"><img class="lazyload w-100" data-src="images/redentore-components_049bcbb0-df0f-4727-be44-a93129f8dab5_1400x.png" alt="img"></div><div class="full-block-item mb-5">
<div class="container-fluid">
<div class="row no-gutters pb-3 pb-lg-0">
<div class="col-lg-6">
<img class="lazyload w-100" data-src="images/ddd_2_800x.png" alt="img">
</div>
<div class="col-lg-6 d-flex align-items-center">
<div class="wrapper"><a class="title mb-4" href="#">Timeless Shapes</a><p class="description mb-4">The Redentore case is characterized by its classic shapes and above all by the double finish. The deep satin and the polish finishes are obtained through the use of special brushes by skilled <b>craftsmen</b> who finish each individual surface through a completely manual process. <b>Several handmade steps</b> are required to achieve a homogeneous result that passes the internal quality control process.</p>
</div>
</div>
</div>
<div class="row no-gutters pb-3 pb-lg-0">
<div class="col-lg-6 order-1 order-lg-2"><a class="d-block" href="#"><img class="lazyload w-100" data-src="images/Tavola_da_disegno_1_copia_5_5000x.png" alt="img"></a></div>
<div class="col-lg-6 d-flex align-items-center order-2 order-lg-1">
<div class="wrapper"><a class="title mb-4" href="#">Our Milanese Bracelet</a><p class="description mb-4">The Milanese mesh bracelet is the perfect <b>combination of Italian</b> style and metalworking art. Every single steel mesh is handcrafted, cut, folded and then assembled to create a solid yet elegant spiral. A perfect fit on the wrist<b> is guaranteed, in fact</b>, this bracelet is equipped with a sliding clasp which offers an extremely comfortable</p>
<a href="#" class="btn">more</a>
</div>
</div>
</div>
<div class="row no-gutters pb-3 pb-lg-0">
<div class="col-lg-6"><a class="d-block" href="#"><img class="lazyload w-100" data-src="images/Tavola_da_disegno_1_copia_2_fcbf06d2-b4e5-4ed5-a7f1-8ce8417d096d_800x.png" alt="img"></a></div>
<div class="col-lg-6 d-flex align-items-center">
<div class="wrapper"><a class="title mb-4" href="#">PURELY MECHANICAL</a><p class="description mb-4">Auctor condimentum magna donec tellus rutrum curabitur imperdiet montes. Porttitor Sollicitudin scelerisque arcu elementum consectetuer commodo tempor ut. Class Pharetra molestie habitasse non augue risus non. Bibendum massa, ligula justo etiam, pretium luctus mollis.</p>
<a href="#" class="btn">more</a>
</div>
</div>
</div>
</div>
</div>
        <div class="mb-5"><img class="lazyload w-100" data-src="images/Tavola_da_disegno_1_hbhb_1400x.png" alt="img"></div>
      </div><!-- Footer Section Start -->
<footer class="footer-page">
<div class="container">
      <div class="row">
        <div class="col-12 col-lg-3 pb-3 pb-lg-0 d-flex justify-content-center justify-content-lg-start"><a class="logo"><img class="lazyload img-fluid" data-src="images/logo.png" alt="img"></a></div>
        <div class="col-12 col-lg-3 pb-3 pb-lg-0 d-none d-lg-block"><span class="footer-title">Каталог</span>
          <ul class="footer-ul">
            <li><a href="#">Каталог 1</a></li>
            <li><a href="#">Каталог 1</a></li>
            <li><a href="#">Каталог 1</a></li>
            <li><a href="#">Каталог 1</a></li>
          </ul>
        </div>
        <div class="col-12 col-lg-2 pb-3 pb-lg-0 d-none d-lg-block"><span class="footer-title">Бренд</span>
          <ul class="footer-ul">
            <li><a href="#">Бренд 1</a></li>
            <li><a href="#">Бренд 1</a></li>
            <li><a href="#">Бренд 1</a></li>
            <li><a href="#">Бренд 1</a></li>
          </ul>
        </div>
        <div class="col-12 col-lg-2 pb-3 pb-lg-0 d-none d-lg-block"><span class="footer-title">Магазин</span>
          <ul class="footer-ul">
            <li><a href="#">Магазин 1</a></li>
            <li><a href="#">Магазин 1</a></li>
            <li><a href="#">Магазин 1</a></li>
            <li><a href="#">Магазин 1</a></li>
          </ul>
        </div>
        <div class="col-12 col-lg-2 pb-3 pb-lg-0"><span class="footer-title">Навигация</span>
          <ul class="footer-ul">
            <li><a href="#">Главная</a></li>
            <li><a href="#">О нас</a></li>
            <li><a href="#">Контакты</a></li>
          </ul>
        </div>
      </div>
      <div class="row justify-content-end">
        <div class="col-12 col-lg-2 ">
          <div class="social-block"><a class="social-block__item" href="#"><span class="icon-instagram"></span></a><a class="social-block__item" href="#"><span class="icon-vk-reproductor"></span></a><a class="social-block__item" href="#"><span class="icon-youtube"></span></a></div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-12 col-lg-6 d-flex justify-content-center justify-content-lg-start"><a class="copyright" href="#">© 2020 политика конфиденциальности</a></div>
        <div class="col-12 col-lg-6 d-flex justify-content-center justify-content-lg-end"><a class="copyright" href="#">deksis.ru | разработка и поддержка сайта</a></div>
      </div></div>
</footer>
<!-- Footer Section End --><a href="#" id="scroll">
<i class="fa fa-angle-up"></i>
</a>
    </div>
    <script src="js/main.min.js"></script>
  </body>
</html>
